<mat-nav-list style="color: gray; font-weight: bold !important;">
    <mat-list-item class="nav-item" routerLink="/dashboard">
        <span class="nav-span">
            <mat-icon class="nav-icon">dashboard</mat-icon>
            Dashboard
        </span>
    </mat-list-item>
    <mat-list-item class="nav-item" routerLink="/customers">
        <span class="nav-span">
            <mat-icon class="nav-icon">store</mat-icon>
            Customers
        </span>
    </mat-list-item>
    <mat-list-item class="nav-item">
        <span class="nav-span">
            <mat-icon class="nav-icon">precision_manufacturing</mat-icon>
            Items
        </span>
    </mat-list-item>
    <mat-list-item class="nav-item">
        
        <span class="nav-span">
            <mat-icon class="nav-icon">category</mat-icon>
            Item Groups
        </span>
    </mat-list-item>
    <mat-list-item class="nav-item">
        <span class="nav-span">
            <mat-icon class="nav-icon">local_shipping</mat-icon>
            Orders
        </span>
    </mat-list-item>
    <mat-list-item class="nav-item">
        <span class="nav-span">
            <mat-icon class="nav-icon">payments</mat-icon>
            Invoices
        </span>
    </mat-list-item>
</mat-nav-list>
